* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100%;
    background-color: #f0f8ff;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header {
    width: 100%;
    color: #2f4f4f;
    padding: 20px 50px;
}

header h1 {
    letter-spacing: 0.3em;
    font-family: cursive;
    ;
}

header p {
    margin-top: 10px;
    text-align: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #008b8b;
}

a:hover {
    color: #46008c;
}

.type_title {
    width: 1000px;
    display: flex;
    align-items: flex-end;  
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #5f9ea0;
    border-radius: 50%;
}

.type_title h3 {
    margin: 2px 15px;
    color: #191970;
}

.contents {
    width: 1000px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.item {
    width: 300px;
    margin: 13px;
}

.item h4 {
    color: #556b2f;
}

.item img {
    width: 250px;
    height: 188px;
    border-radius: 10px;
    box-shadow: 7px 10px 4px #808080;
    object-fit: cover;
}

.item img:hover{ 
	opacity:0.5;
	transition:0.3s;
}

.text {
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
}

.text ul{
    padding: 0px 20px;
}

.notes {
    color: #800000;
    margin-top: 10px;
}
