* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100%;
    background-color: #98ec9a;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header {
    width: 100%;
    background-color: #8fbc8f;
    color: #2f4f4f;
    padding: 20px 50px;
}

header p {
    text-align: right;
}

main {
    width: 1000px;
    background-color: #98ec9a;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.box1 {
    width: 300px;
    background-color: #98ec9a;
    margin: 13px;
}

.box1 img {
    width: 250px;
    height: 188px;
    object-fit: cover;
}

.box1 img:hover{ 
	opacity:0.5;
	transition:0.3s;
}

.box2 {
    text-align: left;
    font-size: 15px;
    padding: 0px 20px;
}

.spec {
    text-align: left;
    font-size: 15px;
}
